<h1>Rooms</h1>

<p class="lead">
  <%= link_to 'New Room', new_room_path, class: 'button' %>
</p>

<ul>
  <%= render @rooms %>
</ul>

<%= link_to 'Go Back', books_path, data: { turbolinks: false }, class: 'button' %>
